<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-40851466-1', 'myownb3.com');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div class="container">
    <h1>Login</h1>

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="_password"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="remember_me" class="checkbox">Remember me
                        <input type="checkbox" id="remember_me" name="_remember_me"/>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        <i class="far fa-ok-sign"></i>Login
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
