{% extends '@WebelopAlbum/album/index.html.twig' %}

{% set title = tag.name %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    {{ include('@WebelopAlbum/album/_picture_grid.html.twig', {tags: false}) }}
{% endblock %}